body,html{
  background-color:#212121;
}
select{
  font-size: 1em;
}

#overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height:100%;
  z-index: 1000;
  background: rgb(255,255,255,0.5);
}

.input-field input{
  color: #fff;
}
/* label color */
.input-field label {
  color: #fff;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #fff;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #fff;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #fff;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #fff;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #fff;
}

.collapsible,.collapsible-header,.collapsible-body{
  border-style: none;
}
